<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>234072229169-4dquj958pfg562rsm1emslb75d9st3vu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234072229169-4dquj958pfg562rsm1emslb75d9st3vu</string>
	<key>API_KEY</key>
	<string>AIzaSyAFYR_N70XaZ8-KrZMTQhmgKko7wC_D-uc</string>
	<key>GCM_SENDER_ID</key>
	<string>234072229169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.koenhendriks.chitchat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-9f32d</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-9f32d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:234072229169:ios:4576e227a510ce7e</string>
	<key>DATABASE_URL</key>
	<string>https://chitchat-9f32d.firebaseio.com</string>
</dict>
</plist>